@tailwind base;
@tailwind components;
@tailwind utilities;

/* Definition of the design system. All colors, gradients, fonts, etc should be defined here. 
All colors MUST be HSL.
*/

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 7%;

    --card: 0 0% 100%;
    --card-foreground: 0 0% 7%;

    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 7%;

    --primary: 0 0% 0%;
    --primary-foreground: 0 0% 100%;

    --secondary: 0 0% 100%;
    --secondary-foreground: 0 0% 0%;

    --muted: 0 0% 96%;
    --muted-foreground: 0 0% 45%;

    --accent: 178 48% 50%;
    --accent-foreground: 0 0% 100%;

    --alt: 263 37% 45%;
    --alt-foreground: 0 0% 100%;

    --teal: 177 47% 51%;
    --teal-foreground: 0 0% 100%;

    --destructive: 0 84% 60%;
    --destructive-foreground: 0 0% 100%;

    --border: 0 0% 90%;
    --input: 0 0% 90%;
    --ring: 178 48% 50%;

    --hit: 0 0% 100%;
    --hit-foreground: 0 0% 0%;
    --miss: 0 0% 0%;
    --miss-foreground: 0 0% 100%;

    --success: 142 76% 36%;
    --success-foreground: 0 0% 100%;

    --radius: 1rem;

    --transition-speed: 120ms;
  }

  .dark {
    --background: 0 0% 6%;
    --foreground: 0 0% 95%;

    --card: 0 0% 10%;
    --card-foreground: 0 0% 95%;

    --popover: 0 0% 10%;
    --popover-foreground: 0 0% 95%;

    --primary: 0 0% 95%;
    --primary-foreground: 0 0% 0%;

    --secondary: 0 0% 10%;
    --secondary-foreground: 0 0% 95%;

    --muted: 0 0% 16%;
    --muted-foreground: 0 0% 65%;

    --accent: 178 48% 50%;
    --accent-foreground: 0 0% 100%;

    --alt: 263 37% 55%;
    --alt-foreground: 0 0% 100%;

    --teal: 177 47% 51%;
    --teal-foreground: 0 0% 100%;

    --destructive: 0 84% 60%;
    --destructive-foreground: 0 0% 100%;

    --border: 0 0% 16%;
    --input: 0 0% 16%;
    --ring: 178 48% 50%;

    --hit: 0 0% 95%;
    --hit-foreground: 0 0% 0%;
    --miss: 0 0% 0%;
    --miss-foreground: 0 0% 95%;

    --success: 142 76% 36%;
    --success-foreground: 0 0% 100%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}
